<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Extdev_Easycalls>
            <version>1.0</version>
        </Extdev_Easycalls>
    </modules>
    <global>
        <blocks>
            <edneasycalls>
                <class>Extdev_Easycalls_Block</class>
            </edneasycalls>
        </blocks>
        <helpers>
            <edneasycalls>
                <class>Extdev_Easycalls_Helper</class>
            </edneasycalls>
        </helpers>
        <models>
            <edneasycalls>
                <class>Extdev_Easycalls_Model</class>
            </edneasycalls>
        </models>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Extdev_Easycalls>
                    <files>
                        <default>Extdev_Easycalls.csv</default>
                    </files>
                </Extdev_Easycalls>
            </modules>
        </translate>
        <events>
            <adminhtml_block_html_before>
                <observers>
                    <edneasycalls>
                        <class>Extdev_Easycalls_Helper_Observer</class>
                        <method>addColumnToOrdersGrid</method>
                    </edneasycalls>
                </observers>
            </adminhtml_block_html_before>
        </events>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <edneasycalls>
                                            <title><![CDATA[ExtDev &ndash; Easy Calls]]></title>
                                        </edneasycalls>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <edneasycalls>
            <general>
                <enabled>0</enabled>
                <linktemplate><![CDATA[callto://%s]]></linktemplate>
                <phonesrcpriority>1</phonesrcpriority>
            </general>
        </edneasycalls>
    </default>
</config>
